@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    justify-content: center;
    background-image: url('./assets/imagem_bg.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    
    /*background: linear-gradient(35deg, rgb(215, 228, 31), rgb(235, 16, 16));*/
    min-height: 100vh;
}



:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22D4FD;
    --darkgray: #2c3e50;

    --fonte-primaria:"Poppins", sans-serif;
    --fonte-secundaria:"Inter", serif;
}

.cabecalho{/*Os links do nav*/
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--cor-secundaria);
    text-shadow: 2px 2px 5px black;
    font-family: var(--fonte-secundaria);
    text-decoration: none;
    border-radius: 20px;
    transition: 0.2s;
    padding: 5px;
}

.cronometro_treino{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#cronometro{
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px black;
    padding: 10px 20px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid var(--darkgray);
    margin-left: 690px;
}

#round_atual{
    margin-left: 510px;
    font-size: 2.2rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 5px black;
    padding: 5px 10px;
    border-radius: 12px;
}


.resultado_treino{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

#resultado{
    font-weight: bold;
    font-family: var(--fonte-primaria);
    color: #FFEA00; /* amarelo vibrante */
    text-shadow: 2px 2px 6px #000000; /* sombra preta profunda */
    font-size: 9rem;
    text-align: center;
    margin: 11%;
}

/*alinhando os botões*/
.botoes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    appearance: none; /* Remove o estilo padrão do navegador */
}


#continuar{
    background-color: #0B86DD;
    color: #ffffff;
    height: 90px;
    border: 3px solid black;
    outline: 0;
    cursor: pointer;
    width: 180px;
    margin-left: 460px;
    border-radius: 20px;
    font-size: 1.9rem;
    font-family: var(--fonte-primaria);
    font-weight: 800; 
    transition: 0.2s;
}

/* Mudar a aparência do botão usando o hover */
#continuar:hover {
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
    background-color: var(--darkgray);
    border: 3px solid var(--select-bg);
    color: var(--cor-terciaria);
}

/*pegar as cores do botão de esemplo e deixar este como hover*/
#pause{
    background-color: #F60F0F;
    border: 3px solid black;
    color: #ffffff;
    height: 90px;
    cursor: pointer;
    width: 180px;
    margin-right: 510px;
    text-align: center;
    border-radius: 20px;
    font-size: 1.9rem;
    font-family: var(--fonte-primaria);
    font-weight: 800; 
    transition: 0.2s;
}

/* Mudar a aparência do botão usando o hover */
#pause:hover {
    background-color: var(--darkgray);
    border: 3px solid var(--select-bg);
    color: #F60F0F;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}


@media (max-width: 768px) {
    .formulario {
      flex-direction: column;
      align-items: center;
    }
}


